<div>
    <h4>{{labels.optionsHeading}}</h4><br/>

    <div class="alert alert-info" ng-if="loading">{{loading}}</div>

    <div ng-repeat="alert in alerts" class="alert alert-dismissible" ng-class="'alert-' + (alert.type || 'warning')" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert($index)"><span aria-hidden="true">&times;</span></button> {{alert.msg}}
    </div>

    <form name="OptionsPanelCtrlForm" sf-schema="schema" sf-form="form" sf-model="options" sf-options="config" ng-submit="onSubmit(OptionsPanelCtrlForm)"></form>
</div>
